
.imgItem{
    background: radial-gradient(#111 50%,#000 100%);
    overflow: hidden;
    position: relative;
   
}

.imgItem img{
    transform:  scale(1.3);
    transition: all 0.3s ease-out;
  
}
.imgItem:hover img{
    transform:  scale(1.1) translateY(-20 px);
    opacity: 0.3;
    
}

.desc{
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    gap: 10px;
    font-size: 10px;
}

.desc h3{
    font-weight: 600;
    font-size: 15px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.desc span{
    font-weight: 400;
    font-size: 10px;
    transition: all 0.3s ease-out;
    opacity: 0;
    text-align: center;
} 

.desc a{
    text-decoration: none;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.imgItem:hover .desc h3{
    opacity:1;
    transform: translateY(0px);
}
.imgItem:hover .desc span{
    opacity:1;
    transform: translateY(0px);
}
.imgItem:hover .desc a{
    opacity:1;
    transform: translateY(0px);
}